# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Cube mod.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\J\Unity Projects\Cube mod\.idea\.idea.Cube mod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
